---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Inicio</HeaderLink>
		</div>
	</nav>
</header>

<style>
	header {
		position: fixed;
		width: calc(100% - 1em);
		margin: 0 auto;
		padding: 0 1em;
		top: 0;
		left: 50%;
		transform: translate(-50%);
		background: rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(20px);
		box-shadow: 0 8px 10px -15px var(--black);
		z-index: 99;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		text-decoration: none;
	}
</style>
